src/com/criticalgnome/computers/xml/Device.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="catalog">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="device">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="name" type="xs:string" />
              <xs:element name="origin" type="xs:string" />
              <xs:element name="price" type="xs:nonNegativeInteger" />
              <xs:element name="type">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="group" type="xs:string" />
                    <xs:element name="peripheral" type="xs:boolean" />
                    <xs:element name="has-cooler" type="xs:boolean" />
                    <xs:element name="energy-consumption" type="xs:nonNegativeInteger" />
                    <xs:element name="port-list">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="port" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="critical" type="xs:boolean" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
