src/com/criticalgnome/computers/xml/Device.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="device" type="deviceType"/>
  <xs:complexType name="deviceType">
    <xs:sequence>
      <xs:element type="xs:string" name="name"/>
      <xs:element type="xs:string" name="origin"/>
      <xs:element type="xs:int" name="price"/>
      <xs:element type="typeType" name="type"/>
      <xs:element type="xs:boolean" name="critical"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="typeType">
    <xs:sequence>
      <xs:element type="xs:string" name="group"/>
      <xs:element type="xs:boolean" name="peripheral"/>
      <xs:element type="xs:boolean" name="has-cooler"/>
      <xs:element type="xs:int" name="energy-consumption"/>
      <xs:element type="port-listType" name="port-list"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="port-listType">
    <xs:choice maxOccurs="unbounded" minOccurs="0">
      <xs:element type="xs:string" name="port"/>
    </xs:choice>
  </xs:complexType>
</xs:schema>